<section
  id="about"
  class="relative bg-cover bg-center bg-no-repeat"
  style="background-image: url('/hero1.jpg')"
>
  <div class="bg-white/60 backdrop-blur-sm max-w-7xl mx-auto flex flex-col-reverse md:flex-row items-center gap-12 p-8 md:p-12">
    
    <!-- Text + Reg No Block -->
    <div class="md:w-1/2 space-y-4 md:text-right text-center">
    <div class="space-y-2">
      <h1 class="text-4xl sm:text-5xl font-black text-primary tracking-tight leading-tight">
        SKS.Solar
      </h1>

      <h2 class="text-lg sm:text-xl font-extrabold uppercase tracking-wider text-primary">
        Sales & Services Company Limited
      </h2>

      <p class="text-sm text-primary font-extrabold tracking-wide">
        Registration No: 129654181
      </p>
    </div>

    <p class="text-base sm:text-lg text-primary font-semibold leading-relaxed">
  <span class="font-semibold text-secondary">
    SKS SOLAR (SALES & SERVICES) COMPANY LIMITED
    </span>
     is a Myanmar-based solar energy company.
  It was originally founded in 2021 as 
  <span class="font-semibold text-secondary">SKS Solar Service</span> 
  and officially re-established as a company in 2023.
</p>
  </div>

    <!-- Side Image -->
    <div class="md:w-1/2">
      <img
        src="/hero.png"
        alt="Solar Installation"
        class="w-full h-auto max-h-[500px] rounded-xl object-cover"
      />
    </div>

  </div>
</section>
