<section id="partners" class="bg-white-500 pt-10 pb-24">
  <div class="max-w-6xl mx-auto px-4">
    <h3 class="text-3xl font-semibold text-center text-primary mb-10">
      Partnership Brands
    </h3>

    <div class="overflow-hidden relative">
      <!-- Animated Track -->
      <div
        class="flex items-center gap-10 animate-scroll whitespace-nowrap"
      >
        <img src="/partnership_logo/logo_bluesun.png" alt="Bluesun" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_deye.png" alt="Deye" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_lvtopsun.jpg" alt="LVTopsun" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_srne.png" alt="SRNE" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_trinasolar.png" alt="Trina Solar" class="h-16 object-contain" />
        <!-- Repeat for seamless scroll -->
        <img src="/partnership_logo/logo_bluesun.png" alt="Bluesun" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_deye.png" alt="Deye" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_lvtopsun.jpg" alt="LVTopsun" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_srne.png" alt="SRNE" class="h-16 object-contain" />
        <img src="/partnership_logo/logo_trinasolar.png" alt="Trina Solar" class="h-16 object-contain" />
      </div>
    </div>
  </div>
</section>


<style>
    @keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

</style>