<section id="partners" class="bg-white py-16">
  <div class="max-w-6xl mx-auto px-4">
    <h3 class="text-3xl font-semibold text-center text-primary mb-10">
      Partnership Brands
    </h3>

    <div class="w-full mx-auto flex overflow-hidden">
        <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-scroll-smooth">
          <li>
            <img src="/partnership_logo/logo_jinko_solar.png" alt="Jinko Solar" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_growatt.png" alt="Growatt" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_bluesun.png" alt="Bluesun" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_deye.png" alt="Deye" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_lvtopsun.jpg" alt="LVTopsun" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_srne.png" alt="SRNE" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_trinasolar.png" alt="Trina Solar" class="h-16 object-contain" />
          </li>
        </ul>
        <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-scroll-smooth" aria-hidden="true">
          <li>
            <img src="/partnership_logo/logo_jinko_solar.png" alt="Jinko Solar" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_growatt.png" alt="Growatt" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_bluesun.png" alt="Bluesun" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_deye.png" alt="Deye" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_lvtopsun.jpg" alt="LVTopsun" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_srne.png" alt="SRNE" class="h-16 object-contain" />
          </li>
          <li>
            <img src="/partnership_logo/logo_trinasolar.png" alt="Trina Solar" class="h-16 object-contain" />
          </li>
        </ul>
    </div>
  </div>
</section>




<style>
  @keyframes scroll-smooth {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-smooth {
  animation: scroll-smooth 30s linear infinite;
}


</style>


<!-- <style>
    @keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

</style> -->