<section id="projects" class="bg-white py-20 px-4">
  <h3 class="text-3xl  font-semibold text-primary text-center mb-12">
    Our Projects
  </h3>

  <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    
    <!-- Card 1 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="grid grid-cols-2 gap-1">
        <img src="/projects/Ayarwaddy Division Khone Ma Ngay Hotel Commercial 60kW Solar Project/1.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Ayarwaddy Division Khone Ma Ngay Hotel Commercial 60kW Solar Project/2.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Ayarwaddy Division Khone Ma Ngay Hotel Commercial 60kW Solar Project/3.jpg" class="w-full h-28 object-cover col-span-2" />
      </div>
      <div class="p-4">
        <p class="text-sm font-normal text-primary">
          Ayarwaddy Division Khone Ma Ngay Hotel Commercial 60kW Solar Project
        </p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="grid grid-cols-2 gap-1">
        <img src="/projects/Ayarwaddy Division War Khel Ma 12KW Residential Solar Project/1.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Ayarwaddy Division War Khel Ma 12KW Residential Solar Project/2.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Ayarwaddy Division War Khel Ma 12KW Residential Solar Project/3.jpg" class="w-full h-28 object-cover col-span-2" />
      </div>
      <div class="p-4">
        <p class="text-sm font-normal text-primary">
          Ayarwaddy Division War Khel Ma 12KW Residential Solar Project
        </p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="grid grid-cols-2 gap-1">
        <img src="/projects/Bago Division _Famous_ Hotel 11KW Solar Project/1.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Bago Division _Famous_ Hotel 11KW Solar Project/2.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Bago Division _Famous_ Hotel 11KW Solar Project/3.jpg" class="w-full h-28 object-cover col-span-2" />
      </div>
      <div class="p-4">
        <p class="text-sm font-normal text-primary">
          Bago Division "Famous" Hotel 11KW Solar Project
        </p>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="grid grid-cols-2 gap-1">
        <img src="/projects/Kayin State Hpa-An 11KW Residential Solar Project/1.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Kayin State Hpa-An 11KW Residential Solar Project/2.jpg" class="w-full h-28 object-cover" />
      </div>
      <div class="p-4">
        <p class="text-sm font-normal text-primary">
          Kayin State Hpa-An 11KW Residential Solar Project
        </p>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="grid grid-cols-2 gap-1">
        <img src="/projects/Yangon Division Hlaing Tharyar 11KW Residential Solar Project/1.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Yangon Division Hlaing Tharyar 11KW Residential Solar Project/2.jpg" class="w-full h-28 object-cover" />
        <img src="/projects/Yangon Division Hlaing Tharyar 11KW Residential Solar Project/3.jpg" class="w-full h-28 object-cover col-span-2" />
      </div>
      <div class="p-4">
        <p class="text-sm font-normal text-primary">
          Yangon Division Hlaing Tharyar 11KW Residential Solar Project
        </p>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="grid grid-cols-2 gap-1">
        <img src="/projects/Yangon Division International School 12KW Residential Power Backup Project/1.jpg" class="w-full h-28 object-cover col-span-2" />
      </div>
      <div class="p-4">
        <p class="text-sm font-normal text-primary">
          Yangon Division International School 12KW Residential Power Backup Project
        </p>
      </div>
    </div>

  </div>
</section>
