<section id="our-team" class="bg-primary py-20 px-4">
  <div class="max-w-7xl mx-auto">
    <h3 class="text-3xl font-semibold text-center text-primary mb-12 tracking-tight">
      Our Team
    </h3>

    <div class="grid gap-10 sm:grid-cols-2 md:grid-cols-3">
      <!-- Card 1 -->
      <div class="p-6 text-center">
        <img src="/about-us/Dr.KSPT.jpg" alt="Dr. Kyaw Swar Phyo Thu" class="w-40 h-40 mx-auto object-cover rounded-full shadow-md" />
        <p class="mt-6 text-xl font-semibold text-primary">Dr. Kyaw Swar Phyo Thu</p>
        <span class="block mt-1 text-gray-600 text-sm font-medium">Founder & Managing Director</span>
      </div>

      <!-- Card 2 -->
      <div class="p-6 text-center">
        <img src="/about-us/Dr.STL.jpg" alt="Dr. Si Thu Lwin" class="w-40 h-40 mx-auto object-cover rounded-full shadow-md" />
        <p class="mt-6 text-xl font-semibold text-primary">Dr. Si Thu Lwin</p>
        <span class="block mt-1 text-gray-600 text-sm font-medium">Director</span>
      </div>

      <!-- Card 3 -->
      <div class="p-6 text-center">
        <img src="/about-us/Daw_Phyo_Wai_Lin.jpg" alt="Dr. Phyo Wai Lin" class="w-40 h-40 mx-auto object-cover rounded-full shadow-md" />
        <p class="mt-6 text-xl font-semibold text-primary">Dr. Phyo Wai Lin</p>
        <span class="block mt-1 text-gray-600 text-sm font-medium">General Manager</span>
      </div>

      <!-- Card 4 -->
      <div class="p-6 text-center">
        <img src="/about-us/U_Than_Oo.jpg" alt="U Than Oo" class="w-40 h-40 mx-auto object-cover rounded-full shadow-md" />
        <p class="mt-6 text-xl font-semibold text-primary">U Than Oo</p>
        <span class="block mt-1 text-gray-600 text-sm font-medium">Senior Engineer</span>
      </div>

      <!-- Card 5 -->
      <div class="p-6 text-center">
        <img src="/about-us/Daw_Thient_Thient_Thaw.jpg" alt="Daw Thient Thient Thaw" class="w-40 h-40 mx-auto object-cover rounded-full shadow-md" />
        <p class="mt-6 text-xl font-semibold text-primary">Daw Thient Thient Thaw</p>
        <span class="block mt-1 text-gray-600 text-sm font-medium">Senior Accountant</span>
      </div>

      <!-- Card 6 -->
      <div class="p-6 text-center">
        <img src="/about-us/U_Aung_Kyaw_Zaw.jpg" alt="U Aung Kyaw Zaw" class="w-40 h-40 mx-auto object-cover rounded-full shadow-md" />
        <p class="mt-6 text-xl font-semibold text-primary">U Aung Kyaw Zaw</p>
        <span class="block mt-1 text-gray-600 text-sm font-medium">Senior Technician</span>
      </div>
    </div>
  </div>
</section>
